.link{
    text-decoration: none;
    color: #fff;
    margin-top:6px;
}
.link:hover{
    color:goldenrod;
    border-bottom: 1px solid goldenrod;
}
.logout{
    margin-top:0;
    padding-top:0;
}
@media only screen and (min-width:320px) and (max-width:991px){
    .link{
        margin-bottom: 20px !important;
    }
}